.screen {
    width: 100%;
    margin: 0px 0px 0px 0px;
    height: 20px;
    padding: 0 100px 40% 10px; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-style: ridge;
    border-width: 5px 10px;
    border-color: rgb(226, 156, 43);
    background-color: rgb(249, 243, 226);
}

.button {
    width: 90%;
    margin: 0px 0px 0px 0px;
    height: 0.5px;
    padding: 0 200px 5% 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: ridge;
    border-width: 5px 10px;
    border-color: rgb(226, 156, 43);
    background-color: rgb(249, 243, 226);
}

.setting {
    width: 90%;
    margin: 0px 0px 0px 0px;
    height: 0.5px;
    padding: 0 200px 5% 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: ridge;
    border-width: 5px 10px;
    border-color: rgb(226, 156, 43);
    background-color: rgb(249, 243, 226);
}