.option-button {
    background-color: transparent;
    padding: 15px 32px;
    width: 70%;
    flex: 1;
    margin: 10px 0;
    color: white;
    font-size: 32px;
    font-family: 'Retro New Version', sans-serif;
    cursor: pointer;
    opacity: 1;
    transition: opacity 150ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-button:hover {
    opacity: 80%;
}

.selected-option-button {
    border-radius: 10px;
}