#display-chosen-field, #upload-field {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #d0ebf322;
    color: white;
    width: 97%;
    max-height: 41%;
    margin: 5% 2%;
    flex: 1;
    opacity: 1;
    transition: opacity 150ms ease;
}

#display-chosen-field:hover, #upload-field:hover {
    opacity: 80%;
}

#upload-field {
    padding: 8% 10px;
}

#upload-icon {
    max-width: 25%;
}

#upload-text {
    font-size: 24px;
    font-weight: bold;
    margin-block: 0;
    margin: 0;
}

#chosen-file-display {
    width: 36%;
    margin: 0 0 1.5em 0;
}

#remove-text {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}