#display-chosen-field, #upload-field {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #a3c4d8;
    background-color: #d0ebf3;
    margin-left: 225px;
    color: #4e6878;
    width: 97%;
    max-height: 46%;
}

#upload-field {
    padding: 8% 10px;
}

#upload-icon {
    max-width: 25%;
    margin: 0 0 1.5em 0;
}

#upload-text {
    font-size: 24px;
    font-weight: bold;
    margin-block: 0;
    margin: 0;
}

#chosen-file-display {
    width: 36%;
    margin: 0 0 1.5em 0;
}

#remove-text {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}